@media screen and (max-width: 992px) {
  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .header {
    padding: 32px 0;

    &.fixed {
      padding: 16px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .editable-content ul li:before {
    top: 11px;
  }

  .contacts-banner__body,
  .wrapper,
  .wrapper1200 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn {
    padding: 10px 32px;
  }

  .contacts-us {
    &__content {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__body {
      display: block;
      margin-bottom: 40px;
    }

    &__contacts {
      margin: 0px 0px 32px 0px;
    }
  }

  .contacts-banner {
    padding: 40px 0;

    &__title {
      font-size: 3.4rem;
    }

    &__subtitle {
      font-size: 1.6rem;
    }
  }

  .contacts {
    &__image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
    }

    &__title {
      margin-bottom: 16px;
    }
  }

  .contacts-form {
    padding: 25px;
  }

  .form__submit {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .header {
    padding: 24px 0;

    &.fixed {
      padding: 12px 0;
    }
  }
}
