/*** </Colors> ***/

$whiteColor:   #FFFFFF;
$blackColor:   #000000;

$mainColor1:   #1F3F68;
$mainColor2:   #316099;
$mainColor3:   #356EAD;
$mainColor4:   #5A98D0;
$mainColor5:   #98C3E8;
$mainColor6:   #BDD6EC;
$mainColor7:   #9CC1E3;
$mainColor8:   #4E86BB;
$mainColor9:   #ADBFD6;
$mainColor10:  #83A0C2;
$mainColor11:  #BED9F5;
$mainColor12:  #798CA4;
$mainColor13:  #4C6586;
$mainColor14:  #AEC5DE;

$grayColor1:   #75879E;
$grayColor2:   #F2F2F2;
$grayColor3:   #D2D9E1;

$errorColor:   #CF2626;
$successColor: #39bb11;





/*** <Others> ***/

$borderRadius1: 10px;
$boxShadow1: 5px 10px 20px rgba(53, 110, 173, 0.2);
$boxShadow2: 5px 20px 50px rgba(16, 112, 177, 0.2);
$boxShadow3: 5px 10px 50px rgba(16, 112, 177, 0.2);
$transition1: all 0.3s ease;
$transitionOverlay: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.075);
$transitionBtnGlow: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
$mainFontFamily: 'Gilroy';
$accentFontFamily: 'Conv_Galien-Regular';

