
//Global

@import"global/fonts.scss";
@import"global/variables.scss";
@import"global/normalize.sass";
@import"global/ress.scss";
@import"global/global.scss";

//Blocks

@import"blocks/btn.scss";
@import"blocks/hero.scss";
@import"blocks/whatwedo.scss";
@import"blocks/clients.scss";
@import"blocks/footer.scss";
@import"blocks/header.scss";
@import"blocks/contacts.scss";
@import"blocks/form.scss";
@import"blocks/burger-menu.scss";
@import"blocks/modal.scss";
@import"blocks/global-media.scss";






